view,swiper,swiper-item{
	box-sizing: border-box;
}

.pageBg{
	background: 
	linear-gradient(to bottom,rgba(0,0,0,0),#fff 400rpx ),
	linear-gradient(to right,#beecd8 20%, #F4E2D8);
	min-block-size: 80vh;
}